<!-- About Section -->
    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Me</h2>
                    <div class="col-12 text-center">
                        <img class="img-thumbnail" style="width: 145px; height: 200px;" src="img/nicolas_wolf.jpg" alt="">
                    </div>
                    <h4 class="section-subheading">Hi there! <br> My name is Nicolas Wolf and I'm a passionate Computer Scientist.</h4>
                    <h3 class="section-subheading">
                        I focus on designing and implementing Databases, Algorithms and Software Projects.
                    </h3>
                    <h3 class="section-subheading">Here's a short version of my CV:</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/blackboard.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>September 2002 - June 2011</h4>
                                    <h4 class="subheading">Gymnasium (High School)</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        I went to <a href="http://www.gymnasium-eschenbach.de/" target="_blank">Gymnasium Eschenbach</a>.
                                        <br>
                                        My advanced courses were Maths and Chemistry.
                                        <br>
                                        I graduated with a final grade of 1.9.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/logistics.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>September 2011 - July 2013</h4>
                                    <h4 class="subheading">Apprenticeship as IT Specialist</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        I started an apprenticeship at <a href="https://www.igz.com/" target="_blank">IGZ</a> as Fachinformatiker für Anwendungsentwicklung (Expert for Application Development).
                                        I was involved in several SAP-based logistics projects. After successfully completing my apprenticeship, I worked at IGZ for a few months.
                                        That time gave me valuable working experience.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/rechenzentrum-suedgelaende.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>October 2013 - Now</h4>
                                    <h4 class="subheading">Computer Science at FAU</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Since I wanted to get better and more specialized, I started to study Computer Science at <a href="https://www.fau.de/" target="_blank">FAU</a>.
                                        <br>
                                        My Focus Modules are: Database Systems, Distributed Systems, Software Engineering and Medical Informatics.
                                        <br>
                                        I got my Bachelor's Degree (1.8) in July 2018.
                                        <br>
                                        Currently, I'm writing my Master's Thesis about improving and automating gene sequencing analysis at University Hospital Erlangen.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/tutor.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>October 2014 - Now</h4>
                                    <h4 class="subheading">Research Assistant at CS6</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Since the third semester of my studies I'm Research Assistant at the <a href="https://www.cs6.tf.fau.de/" target="_blank">Chair for Computer Science 6 (Data Management)</a>.
                                        <br>
                                        I tutor students at FAU in Exercises on Conceptual Modeling.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" style="background-color: #f7f7f7;" src="img/ambos.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May 2017 - Now</h4>
                                    <h4 class="subheading">Developer at ambos.io</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        At <a href="http://www.ambos.io/" target="_blank">ambos.io GmbH</a> my job is to design and implement the Database Systems.
                                        <br>
                                        I maintain the Production Database as well as the Data Warehouse.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>... The Story Will Go On!<br>&#9996;</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>