<!-- Skills Section -->
    <section id="skills">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">My Skills</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Conceptual Design</h4>
                    <p class="text-muted">ER Modeling</p>
                    <p class="text-muted">Database Design</p>
                    <p class="text-muted">Software Architecture</p>
                    <p class="text-muted">Distributed Systems</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-database fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Databases</h4>
                    <p class="text-muted">PostgreSQL</p>
                    <p class="text-muted">Oracle</p>
                    <p class="text-muted">SAP HANA</p>
                    <p class="text-muted">MySQL</p>
                    <p class="text-muted">Neo4j</p>
                    <p class="text-muted">MongoDB</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Programming</h4>
                    <p class="text-muted">PL/pgSQL | SQL</p>
                    <p class="text-muted">Python</p>
                    <p class="text-muted">Java | Scala</p>
                    <p class="text-muted">ABAP</p>
                    <p class="text-muted">JavaScript | TypeScript</p>
                    <p class="text-muted">C | C++ | C#</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cloud fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Web Development</h4>
                    <p class="text-muted">REST | SOAP</p>
                    <p class="text-muted">Flask | Flask RESTful</p>
                    <p class="text-muted">Dropwizard</p>
                    <p class="text-muted">Crossbar</p>
                </div>
            </div>
        </div>
    </section>
