<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">

    {% include header.html %}
    {% include skills.html %}
    {% include posts_grid.html %}
    {% include about.html %}
    {% comment %} {% include team.html %} {% endcomment %}
    {% comment %} {% include clients.html %} {% endcomment %}
    {% include contact.html %}
    {% include footer.html %}
    {% comment %} {% include modals.html %} {% endcomment %}
    {% include js.html %}

    </body>
</html>